## SPOTIFY NEW DATA SET

TARGET: Descriptive Analysis

- Trends Over Time: Analyze how the popularity of songs has changed over time. This could include looking at how the attributes of popular music (like tempo, key, and duration) have evolved.
- Top Artists and Tracks: Identify the most popular artists and tracks in your dataset based on streaming statistics and presence on various music platforms.

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Popular_Spotify_Songs.csv')

# Display the first few rows of the dataframe to understand its structure
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 7250-7251: invalid continuation byte

In [3]:
# Attempt to load the dataset with ISO-8859-1 encoding
df = pd.read_csv('Popular_Spotify_Songs.csv', encoding='ISO-8859-1')

# Display the first few rows of the dataframe to understand its structure
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

 Here's a quick overview of its structure and the types of data it includes:

1) track_name: Name of the track.
2) artist(s)_name: Name of the artist(s).
3) artist_count: Number of artists involved in the track.
4) released_year, released_month, released_day: Release date information.
5) in_spotify_playlists: Number of Spotify playlists featuring the track.
6) in_spotify_charts: Number of times the track appeared in Spotify charts.
7) streams: Number of streams on Spotify.
8) in_apple_playlists, in_deezer_playlists, in_shazam_charts: Presence of the track on other platforms.
9) Various audio features like bpm (beats per minute), key, mode, danceability_%, valence_% (musical positiveness), energy_%, acousticness_%, instrumentalness_%, liveness_%, and speechiness_%.

With this data, we can start our descriptive analysis. Here are some initial analyses we can perform:

- Trends Over Time:
        Calculate the total number of streams per year to see how music consumption has changed.
        Analyze the evolution of audio features over the years, like danceability and energy.

- Top Artists and Tracks:
        Identify the top artists by the total number of streams or appearances in playlists.
        Find the tracks with the highest number of streams.

In [5]:
# Ensure the 'streams' column contains only numerical values
# Attempt to convert the 'streams' column to numeric, setting errors='coerce' to replace problematic values with NaN
df['streams'] = pd.to_numeric(df['streams'], errors='coerce')

# Drop rows where 'streams' is NaN after conversion attempt
df_cleaned = df.dropna(subset=['streams'])

# Recalculate the total number of streams per year with the cleaned data
streams_per_year_cleaned = df_cleaned.groupby('released_year')['streams'].sum().reset_index()

# Display the cleaned result
streams_per_year_cleaned

    released_year       streams
0            1930  9.059852e+07
1            1942  3.955914e+08
2            1946  3.897720e+08
3            1950  4.732483e+08
4            1952  3.955914e+08
5            1957  9.199620e+08
6            1958  1.310563e+09
7            1959  5.734178e+08
8            1963  1.311263e+09
9            1968  1.145728e+09
10           1970  5.200345e+08
11           1971  4.604928e+08
12           1973  8.385868e+08
13           1975  4.206105e+09
14           1979  4.039395e+08
15           1982  3.502754e+08
16           1983  1.593271e+09
17           1984  3.471625e+09
18           1985  2.230810e+09
19           1986  1.133676e+09
20           1987  1.553498e+09
21           1991  2.058840e+09
22           1992  1.271293e+09
23           1994  1.449779e+09
24           1995  1.937004e+09
25           1996  1.069331e+08
26           1997  1.037625e+08
27           1998  1.284943e+09
28           1999  5.403078e+09
29           2000  3.933974e+09
30           2002  8.679723e+09
31           2003  3.168043e+09
32           2004  3.515718e+09
33           2005  1.805775e+08
34           2007  1.217121e+09
35           2008  2.480816e+09
36           2010  7.569840e+09
37           2011  9.363213e+09
38           2012  1.341534e+10
39           2013  1.586250e+10
40           2014  1.643261e+10
41           2015  1.093093e+10
42           2016  2.024294e+10
43           2017  3.145764e+10
44           2018  1.503052e+10
45           2019  3.787093e+10
46           2020  3.470373e+10
47           2021  7.380810e+10
48           2022  1.164024e+11
49           2023  2.580848e+10

Let's start with the Trends Over Time analysis. We'll focus on two main areas:

- Changes in Music Consumption Over Time: We'll calculate the total number of streams per year to observe trends in music consumption.

- Evolution of Audio Features Over the Years: We'll analyze how certain audio features like danceability, energy, and acousticness have evolved over the years. This will help us understand if there have been any significant changes in the characteristics of popular music.

First, we'll calculate the total number of streams per year. Then, we'll explore the evolution of audio features over the years. Let's begin with the total number of streams per year:

It appears there was an unexpected issue with the data in the streams column, leading to some entries not being properly interpreted as numerical values. This might be due to inconsistencies or errors in the dataset.

Let's clean the data by ensuring that the streams column contains only numerical values and attempt the analysis again. We'll remove any non-numeric values from the streams column and then recalculate the total number of streams per year. Let's correct this and proceed: ​

​

Now that we've cleaned the data, we can observe the total number of streams per year, which gives us a clearer picture of trends in music consumption over time. Here are some key points:

- There is a general upward trend in the total number of streams over the years, especially noticeable from the early 2000s onwards. This likely reflects the growing popularity and accessibility of music streaming platforms.
- The highest total number of streams is observed in 2022, indicating a peak in music consumption through streaming services up to that point.
- A significant increase in streams begins around the mid-2010s, which aligns with the global adoption of streaming services like Spotify.

Next, let's examine the evolution of audio features over the years. We'll focus on three main features: danceability, energy, and acousticness. These features can give us insights into the changing characteristics of popular music over time. Let's calculate the average values of these audio features for each year

In [6]:
# Calculate the average values of danceability, energy, and acousticness for each year
audio_features_per_year = df_cleaned.groupby('released_year').agg({
    'danceability_%': 'mean',
    'energy_%': 'mean',
    'acousticness_%': 'mean'
}).reset_index()

# Display the result
audio_features_per_year

    released_year  danceability_%   energy_%  acousticness_%
0            1930       65.000000  80.000000       22.000000
1            1942       23.000000  25.000000       91.000000
2            1946       36.000000  15.000000       84.000000
3            1950       60.000000  32.000000       88.000000
4            1952       67.000000  36.000000       64.000000
5            1957       62.500000  35.500000       78.500000
6            1958       70.666667  48.000000       75.666667
7            1959       57.000000  30.000000       86.000000
8            1963       37.000000  71.000000       52.000000
9            1968       74.000000  70.000000        7.000000
10           1970       50.000000  82.000000       47.000000
11           1971       33.000000  61.000000       32.000000
12           1973       39.000000  43.000000       39.000000
13           1975       44.500000  56.500000       35.000000
14           1979       75.000000  58.000000       36.000000
15           1982       69.500000  62.500000       18.500000
16           1983       82.000000  45.000000       54.000000
17           1984       65.750000  74.750000       11.000000
18           1985       63.500000  68.000000       54.000000
19           1986       52.500000  70.500000       18.000000
20           1987       45.000000  90.000000        9.000000
21           1991       48.000000  55.500000       37.000000
22           1992       53.000000  34.000000        1.000000
23           1994       34.000000  63.000000       16.000000
24           1995       70.000000  72.500000        6.000000
25           1996       89.000000  64.000000        5.000000
26           1997       74.000000  73.000000       42.000000
27           1998       32.000000  72.000000        0.000000
28           1999       77.400000  76.200000        6.800000
29           2000       63.500000  63.750000       24.000000
30           2002       73.833333  69.166667       18.166667
31           2003       42.500000  89.500000        0.000000
32           2004       68.500000  69.000000       16.000000
33           2005       63.000000  88.000000        1.000000
34           2007       52.000000  85.000000        0.000000
35           2008       64.000000  63.500000        7.000000
36           2010       61.714286  73.285714       13.714286
37           2011       60.700000  63.100000       31.900000
38           2012       61.700000  62.800000       32.700000
39           2013       57.000000  63.923077       17.769231
40           2014       63.538462  65.461538       29.076923
41           2015       53.727273  61.818182       25.000000
42           2016       63.000000  63.166667       26.055556
43           2017       63.521739  60.739130       27.434783
44           2018       55.000000  50.900000       41.100000
45           2019       60.722222  59.583333       35.833333
46           2020       67.432432  66.432432       22.972973
47           2021       68.184874  63.890756       25.302521
48           2022       68.713930  63.582090       27.422886
49           2023       70.022857  68.222857       25.251429

Danceability

- There's a general upward trend in danceability, especially noticeable in the more recent years (2021-2023). This suggests that popular music has become more dance-friendly, potentially reflecting changes in listener preferences or the influence of dance music genres.

Energy

- The energy of songs shows some fluctuation over the decades but appears to increase slightly in the latest years. This could indicate a preference for more upbeat and energetic music in recent times.

Acousticness

- Acousticness varies significantly over the years. However, in the earliest and latest years of the dataset, we observe moderate to low levels of acousticness, suggesting a shift towards more electronic or processed music in popular tracks. Nonetheless, there's a notable peak in acousticness around 2018, indicating a temporary surge in preference for more acoustic and organic sounds.

These trends reflect how musical tastes and production techniques have evolved, with recent years showing a preference for more danceable and energetic tracks, possibly driven by the global popularity of genres like pop, electronic dance music (EDM), and hip-hop.

These insights could form the basis for further analysis, such as investigating the factors that influence these trends or exploring how other audio features have evolved alongside changes in music technology and consumption habits.

Let's start with the Trends Over Time in Attributes of Popular Music. We'll focus on the evolution of tempo (bpm), key, and duration over the years. Afterward, we'll proceed to identify the Top Artists and Tracks based on their streaming numbers and platform presence.
Analyzing the Evolution of Tempo, Key, and Duration Over Time

First, we'll calculate the average tempo (bpm), the most common key, and the average duration of songs per year. Let's begin with this analysis:

In [8]:
# Correct approach to calculate the average tempo and the most common key for each year
# Recalculating the most common key per year
keys_mode_per_year_corrected = df_cleaned.groupby('released_year')['key'].agg(lambda x: x.mode()[0] if not x.mode().empty else None).reset_index()

# Recalculate without the 'duration_s' column and correctly calculate for key
tempo_per_year_corrected = df_cleaned.groupby('released_year')['bpm'].mean().reset_index()

# Combine the recalculated average tempo with the most common key per year
tempo_key_combined_corrected = pd.merge(tempo_per_year_corrected, keys_mode_per_year_corrected, on='released_year')

# Display the combined result for tempo and key
tempo_key_combined_corrected

    released_year         bpm   key
0            1930  130.000000    F#
1            1942   96.000000     A
2            1946  139.000000    C#
3            1950  143.000000     D
4            1952  140.000000  None
5            1957  147.000000     D
6            1958  135.000000     G
7            1959  120.500000    C#
8            1963  140.000000     D
9            1968  116.000000  None
10           1970  148.000000     D
11           1971  147.000000     D
12           1973   80.000000     F
13           1975   86.500000    C#
14           1979   95.000000     B
15           1982  148.000000     A
16           1983  117.000000    C#
17           1984  101.750000     B
18           1985  110.000000    A#
19           1986  142.500000     A
20           1987  125.000000    F#
21           1991  111.500000    C#
22           1992   92.000000     G
23           1994  150.000000     G
24           1995   86.000000     G
25           1996   88.000000     G
26           1997  144.000000     F
27           1998  156.000000     B
28           1999  115.000000     B
29           2000  114.750000    C#
30           2002  136.666667    C#
31           2003  129.000000     A
32           2004  111.750000     A
33           2005   93.000000     F
34           2007  140.000000  None
35           2008  113.000000    A#
36           2010  118.571429    G#
37           2011  127.900000     D
38           2012  142.800000     E
39           2013  120.076923    C#
40           2014  106.000000     F
41           2015  127.363636     D
42           2016  126.944444     A
43           2017  119.000000     B
44           2018  115.300000    C#
45           2019  118.361111     B
46           2020  118.027027     F
47           2021  125.831933    C#
48           2022  122.004975    C#
49           2023  124.062857     B

- Tempo (bpm): The average tempo varies from year to year, with some years showing higher averages that might indicate a preference for faster-paced music.
- Key: The most common key also changes over the years. For some years, a specific key might dominate popular tracks, reflecting musical trends or preferences at the time.

This analysis shows how certain musical attributes of popular songs have evolved over time. Changes in tempo and key can reflect shifts in musical styles, influences, and listener preferences.

In [11]:
# Calculate the total number of streams for each artist
total_streams_by_artist = df_cleaned.groupby('artist(s)_name')['streams'].sum().reset_index()

# Sort the artists by total streams in descending order and take the top 10
top_artists_by_streams = total_streams_by_artist.sort_values(by='streams', ascending=False).head(10)

# Display the top 10 artists by total streams
top_artists_by_streams

      artist(s)_name       streams
571       The Weeknd  1.418555e+10
557     Taylor Swift  1.405366e+10
159       Ed Sheeran  1.390895e+10
222     Harry Styles  1.160865e+10
43         Bad Bunny  9.997800e+09
430   Olivia Rodrigo  7.442149e+09
170           Eminem  6.183806e+09
75        Bruno Mars  5.846921e+09
25    Arctic Monkeys  5.569807e+09
228  Imagine Dragons  5.272485e+09

Identifying Top Artists and Tracks

Next, let's move on to identifying the top artists and tracks in the dataset. We'll consider both the total number of streams and the presence on various music platforms as indicators of popularity. We'll start by finding the top 10 artists based on the total number of streams for all their songs combined, and then we'll identify the top 10 tracks with the highest number of streams.

Let's begin with the top artists: ​

​

The top artists based on total streams are as follows:

- The Weeknd: With a total of approximately 14.19 billion streams.
- Taylor Swift: Close behind with about 14.05 billion streams.
- Ed Sheeran: With around 13.91 billion streams.
- Harry Styles: Accumulating about 11.61 billion streams.
- Bad Bunny: With nearly 10 billion streams.
- Olivia Rodrigo: With approximately 7.44 billion streams.
- Eminem: Garnering about 6.18 billion streams.
- Bruno Mars: With around 5.85 billion streams.
- Arctic Monkeys: Having about 5.57 billion streams.
- Imagine Dragons: With approximately 5.27 billion streams.

These artists have achieved remarkable success on streaming platforms, reflecting their widespread popularity and the enduring appeal of their music.

In [12]:
# Sort the tracks by total streams in descending order and take the top 10
top_tracks_by_streams = df_cleaned.sort_values(by='streams', ascending=False).head(10)[['track_name', 'artist(s)_name', 'streams']]

# Display the top 10 tracks by total streams
top_tracks_by_streams

,track_name,artist(s)_name,streams
55,Blinding Lights,The Weeknd,3.703895e+09
179,Shape of You,Ed Sheeran,3.562544e+09
86,Someone You Loved,Lewis Capaldi,2.887242e+09
620,Dance Monkey,Tones and I,2.864792e+09
41,Sunflower - Spider-Man: Into the Spider-Verse,"Post Malone, Swae Lee",2.808097e+09
162,One Dance,"Drake, WizKid, Kyla",2.713922e+09
84,STAY (with Justin Bieber),"Justin Bieber, The Kid Laroi",2.665344e+09
140,Believer,Imagine Dragons,2.594040e+09
725,Closer,"The Chainsmokers, Halsey",2.591224e+09
48,Starboy,"The Weeknd, Daft Punk",2.565530e+09

Next, let's identify the top 10 tracks with the highest number of streams to see which songs have captivated listeners the most: ​

​

The top tracks based on total streams are:

- Blinding Lights by The Weeknd: Approximately 3.70 billion streams.
- Shape of You by Ed Sheeran: Around 3.56 billion streams.
- Someone You Loved by Lewis Capaldi: Approximately 2.89 billion streams.
- Dance Monkey by Tones and I: About 2.86 billion streams.
- Sunflower - Spider-Man: Into the Spider-Verse by Post Malone, Swae Lee: Around 2.81 billion streams.
- One Dance by Drake, WizKid, Kyla: Approximately 2.71 billion streams.
- STAY (with Justin Bieber) by Justin Bieber, The Kid Laroi: About 2.67 billion streams.
- Believer by Imagine Dragons: Approximately 2.59 billion streams.
- Closer by The Chainsmokers, Halsey: Around 2.59 billion streams.
- Starboy by The Weeknd, Daft Punk: Approximately 2.57 billion streams.

These songs have achieved massive success, showcasing their global appeal and the impact they've had on listeners worldwide. Their high streaming numbers reflect their popularity and the significant role they play in the current music landscape.